<% content_for(:title) do %>
  <%= @cocktail.name %> is chez Olivier
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <div class="class card text-center">
      <div class="class card-header" style="background-image: url('<%= cl_image_path @cocktail.photo %>')">
      </div>
      <div class="class card-body">
        <%= @cocktail.name %>
      </div>
    </div>

      <%= link_to "Back", cocktails_path, class: "btn btn-primary" %>
        <% @cocktail.doses.each do |dose|%>
          <p><%= dose.description%> </p>
          <p><%= dose.ingredient.name %> </p>
          <p><%= link_to "Delete", cocktail_dose_path(@cocktail, dose) , method: :delete, class: "btn btn-primary" %></p>
        <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Ajouter une dose a <%= @cocktail.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, input_html: { placeholder: "Une petite pincée de sucre 5cl" } %>
        <%= f.input :ingredient, as: :select, collection: @ingredient_list, include_blank:  "Select an ingredient" %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
